[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "==2.8.8"
molecule = {extras = ['vagrant'],version = "==2.22"}
docker = "==4.0.2"
python-vagrant = "==0.5.15"
requests = "*"

[requires]
python_version = "3.5"

[scripts]
test = "molecule --base-config ./molecule/docker/molecule.yml --env-file ./molecule/shared/.env.yml test --scenario-name docker"
syntax = "molecule --base-config ./molecule/docker/molecule.yml --env-file ./molecule/shared/.env.yml --debug syntax --scenario-name docker"
test-vagrant = "molecule --base-config ./molecule/docker/molecule.yml --env-file ./molecule/shared/.env.yml test --scenario-name vagrant"
syntax-vagrant = "molecule --base-config ./molecule/docker/molecule.yml --env-file ./molecule/shared/.env.yml --debug syntax --scenario-name vagrant"
